.SynonymsModal {
  &__information {
    display: flex;
    margin-bottom: 10px;
  }

  &__information-text {
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
    margin-right: 10px;
  }
}
