.Card {
  background: #ffffff;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 11px;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  color: #344273;

  &--is-editing {
    background: none;
    flex-direction: column;
    padding: 0;
  }

  &__button {
    border: none;
    background: none;
    padding: 0;
    margin-left: 10px;
    line-height: 10px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--edit {
      margin-left: auto;
    }
  }

  &__input {
    margin-bottom: 5px;
  }

  &__cross-button {
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 3px;
  }

  &__buttons-container {
    display: flex;
  }
}