.Modal {
  background: #efefef;
  width: 560px;
  height: 560px;
  padding: 20px;
  box-sizing: border-box;

  &__header {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
  }

  &__close-button {
    background: none;
    border: none;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .Modal {
    width: 100vw;
    height: 100vh;
  }
}