@font-face {
  font-family: 'Circe';
  src: url('./fonts/Circe-Regular.ttf');
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  font-family: Circe;
}